.navbarcontainer{
    width: 100vw;
    max-width: 1040px;
    margin: auto;
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;   
    -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.herocontainer{
    width: 100vw;
    max-width: 1040px;
    margin: auto;
    padding: 80px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.workcontainer{
    width: 100vw;
    max-width: 1040px;
    margin: auto;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    gap: 64px;
}

.testimonialcontainer{
    width: 100vw;
    max-width: 1040px;
    margin: auto;
    padding: 100px 24px;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    gap: 24px;
}

.footercontainer{
  width: 100vw;
  max-width: 1040px;
  margin: auto;
  padding: 80px 24px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.copyrightcontainer{
  background: #F8E9DC;
  margin: auto;
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
